.question-mark {
  position: absolute;
  top: 35px;
  border-radius: 12px;
  color: black;
  z-index: 12;
  font-size: 16px;
  overflow: hidden;
}

.question-mark-card {
  min-width: 300px;
}
.question-mark-card-text {
  padding: 0 10px;
  font-weight: 200;
  font-family: var(--font-poppins);
}

@media screen and (max-width: 1200px) {
  .question-mark-card {
    min-width: 250px;
  }
}
