.group-light-icon,
.team-finder {
  position: relative;
  width: 115px;
  height: 115px;
  flex-shrink: 0;
}
.team-finder {
  font-weight: 200;
  display: inline-block;
  width: 95px;
  height: 20px;
}
.group-light-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.mobile-app,
.phone-light-icon {
  position: relative;
  flex-shrink: 0;
}
.phone-light-icon {
  width: 115px;
  height: 115px;
  overflow: hidden;
}
.mobile-app {
  font-weight: 200;
  display: inline-block;
  width: 88px;
  height: 20px;
}
.phone-light-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.frame-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-120xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 420px) {
  .frame-container {
    flex-direction: column;
    gap: var(--gap-11xl);
  }
}
